@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
body{
  background: #c48e8e;
  padding: 0;
}
.navbar-brand{
  color: #c48e8e !important;
  font-weight: 600 !important;
}
.nav-link{
  font-weight: 300 !important;
}
.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
}

.title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #c48e8e;
  text-transform: uppercase;
  text-align: center;



}
.view_title{
 font-size: 24px;
  font-weight: 700;
  color: rgba(0,0,0,.5);
  text-transform: uppercase;
  text-align: center;
  margin-top:30px;


}

.wrapper .form{
  width: 100%;
}

.inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

 .form .inputfield .input,
 .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

 .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

 .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.form .inputfield .input:focus,
 .form .inputfield .textarea:focus,
 .form .inputfield .custom_select select:focus{
  border: 1px solid #c48e8e;
}

 .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
 .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
 .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
 .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #c48e8e;
  display: block;
  position: relative;
}
.form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #c48e8e;
}

.form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #c48e8e;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.btn:hover{
  color: #fff;
  background: #8c6464;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}
table{
    height: 200px;
    width: 90% !important;
    margin: 70px 75px;
    border-top: 0px !important;
}
table th{
    text-align: center;
}
table,th,td{
    border: 1px solid #c48e8e !important;
}
table thead tr th{
    background-color: #986f6f !important;
}
.big-box{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.additions{
  height: 200px !important;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 400px;
  background: #f3e7e7;
  margin: 80px auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
  border-radius: 12px;
}
.asset-title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #c48e8e;
  text-transform: uppercase;
  text-align: center;
}
.big-box a {
  display: block;
  margin: auto;
  padding: 10px 1rem;
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: rgba(0,0,0,.5);
  position: relative;
  transition: all .3s cubic-bezier(.2, 0, 0, 1);
  z-index: 1;
  
  &:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #c48e8e;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }
  
  &:hover {
    color: #fff;
    
    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}