{% extends 'base.html' %}


{% block content %}
<div class="wrapper">
    <div class="title">
        Building Management
    </div>
    <form action="{{ url_for('add_building') }}" method="POST">
        <div class="form">

            <div class="inputfield">
                <label >Building Name</label>
                <input type="text" name="building_name" class="input" required>
            </div>  
                <div class="inputfield">
                <label>Building Type</label>
                <div class="custom_select">
                    <select id="building" name="building_type">
                        <option value="animal shelter">Animal shelter</option>
                        <option value="attraction">Attraction</option>
                        <option value="Maintenance">Maintenance</option>
                        <option value="Concession stands">Concession stands</option>
                    </select>
                </div>
            </div>   
            <div class="inputfield">
                <button type="submit" name="Add" class="btn">Add</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}