{% extends 'base.html' %}


{% block content %}
<div class="wrapper">
        <div class="title">
            Animals Management
        </div>
        <form action="{{ url_for('add_animal') }}" method="POST">
            <div class="form">
                <div class="inputfield">
                        <label >Animal Name</label>
                        <input type="text" name="animal_name" class="input" required>
                </div> 
                <div class="inputfield">
                    <label>Species Type</label>
                    <div class="custom_select">
                        <select id="animal" name="sp_name">
                                <option value="Mammal">Mammal</option>
                                <option value="Amphibian">Amphibian</option>
                                <option value="Arachnid">Arachnid</option>
                                <option value="Bird">Bird</option>
                                <option value="Crustacean">Crustacean</option>
                                <option value="Fish">Fish</option>
                                <option value="Insect">Insect</option>
                                <option value="Mollusk">Mollusk</option>
                        </select>
                    </div>
                </div>
                    <div class="inputfield">
                        <label>Animal status</label>
                        <div class="custom_select">
                                <select id="a_status" name="a_status">
                                        <option value="Healthy">Healthy</option>
                                        <option value="Maternity Leave">Maternity Leave</option>
                                        <option value="Injured">Injured</option>
                                        <option value="Died">Died</option>
                                </select>
                        </div>
                </div>
                <div class="inputfield">
                        <label>Birth year</label>
                        <input type="number" name="birth_year" class="input">
                </div>
                <div class="inputfield">
                        <label>Enclosure ID</label>
                        <input type="number" name="En_id" class="input">
                </div>
                <div class="inputfield">
                        <label>Building</label>
                        <input type="number" name="b_id" class="input">
                </div>       
                <div class="inputfield">
                    <button type="submit" class="btn">Add</button>
                </div>
            </div>
        </form>
</div>
{% endblock %}