{% extends 'base.html' %}


{% block content %}
<div class="container big-box">
    <div class="divide">
        <div class="employee box">
            <h3 class="asset-title">employee</h3>
            <a href="{{ url_for('employee') }} ">view</a>
            <a href="{{ url_for('add_employee') }}"> add</a>
            <a href="{{ url_for('update_employee') }}"> update</a>
        </div>
        <div class="Building box">
            <h3 class="asset-title">Building</h3>
            <a href="{{ url_for('view_building') }} ">view</a>
            <a href="{{ url_for('add_building') }}"> add</a>
            <a href="{{ url_for('update_building') }}"> update</a>
        </div>
    </div>
    <div class="divide">
        <div class="hourly_rate box">
            <h3 class="asset-title">Hourly rate</h3>
            <a href="{{ url_for('view_rate') }}">view</a>
            <a href="{{ url_for('add_rate') }}">add</a>
            <a href="{{ url_for('update_rate') }}">update</a>
        </div>
        <div class="Animal box">
            <h3 class="asset-title">Animal</h3>
            <a href="{{ url_for('view_animal') }}">view</a>
            <a href="{{ url_for('add_animal') }}">add</a>
            <a href="{{ url_for('update_animal') }}">update</a>
        </div>
    </div>
</div>


{% endblock %}