{% extends 'base.html' %}


{% block content %}

{% if data %}
<h2 class="view_title">Daily Reports</h2>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
     <tr>
         {% for key in data[0].keys() %}
           <th scope="col">{{ key }}</th>
         {% endfor %}
     </tr>
   </thead>
  {% for  type  in data %}
    <tr>
          <td>{{ type.Event }}</td>
          <td>{{ type.Revenue_id }}</td>
          <td>{{ type.senior_citizens}}</td>
          <td>{{ type.adults }}</td>
          <td>{{ type.children }}</td>
    </tr>

  {% endfor %}

</table>
{% else %}
<h1>No data in given dates</h1>

{% endif %}



{% endblock %}