{% extends 'base.html' %}


{% block content %}
<div class="wrapper">
    <div class="title">
        Employee Management
    </div>
    <form action="{{ url_for('add_employee') }}" method="POST">
        <div class="form">
        <div class="inputfield">
            <label>SSN</label>
            <input type="text" class="input" name="SSN" required>
        </div>  
        <div class="inputfield">
            <label >First Name</label>
            <input type="text" name="first_name" class="input" required>
        </div>  
        <div class="inputfield">
            <label >Middle Name</label>
            <input type="text" name="middle_name" class="input" required>
        </div>  
        <div class="inputfield">
            <label >Last Name</label>
            <input type="text" name="last_name" class="input" required>
        </div> 
            <div class="inputfield">
            <label>Employee type</label>
            <div class="custom_select">
                <select id="animal" name="Job_type">
                    <option value="Veterinarian">Veterinarian</option>
                    <option value="Animal care specialist">Animal care specialist</option>
                    <option value="Maintenance">Maintenance</option>
                    <option value="Customer Service">Customer Service</option>
                    <option value="Ticket seller">Ticket seller</option>
                    <option value="Manager">Manager</option>
                    <option value="Sales">Sales</option>
                </select>
            </div>
        </div> 
        <div class="inputfield">
            <label >Street</label>
            <input type="text" name="street" class="input" required>
        </div> 
        <div class="inputfield">
            <label >City</label>
            <input type="text" name="city" class="input" required>
        </div> 
        <div class="inputfield">
            <label >State</label>
            <input type="text" name="state" class="input" required>
        </div> 
        <div class="inputfield">
            <label >Zipcode</label>
        <input type="number" name="Zipcode" class="input" required maxlength="6">
        </div>
          <div class="inputfield">
            <label >Start Date</label>
        <input type="date" name="start_date" class="input" required >
        </div>
        <div class="inputfield">
            <button type="submit" name="Add" class="btn">Add</button>
        </div>
        </div>
    </form>
</div>
{% endblock %}