{% extends 'base.html' %}


{% block content %}

<h2 class="view_title">Employee Reports</h2>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
     <tr>
         {% for key in data[0].keys() %}
           <th scope="col">{{ key }}</th>
         {% endfor %}
     </tr>
   </thead>
  {% for  type  in data %}
    <tr>
          <td>{{ type.Species }}</td>
          <td>{{ type.Employee_cost }}</td>



    </tr>

  {% endfor %}

</table>




{% endblock %}