{% extends 'base.html' %}


{% block content %}
{% if data %}


<h2 class="view_title">Top 3</h2>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
     <tr>
         {% for key in data[0].keys() %}
           <th scope="col">{{ key }}</th>
         {% endfor %}
     </tr>
   </thead>
  {% for  type  in data %}
    <tr>
          <td>{{ type.show_id }}</td>
          <td>{{ type.show_name }}</td>
          <td>{{ type.Attraction }}</td>
          <td>{{ type.show_date }}</td>
          <td>{{ type.Revenue}}</td>




    </tr>

  {% endfor %}

</table>

{% else %}
<h1> No data in selected dates</h1>

{% endif %}





{% endblock %}