<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px">
  {% for animal in data %}
    <tr>
          <td>{{ animal.Animal_ID }}</td>
          <td>{{ animal.animal_name}}</td>
          <td>{{ animal.sp_name }}</td>
         <td>{{ animal.a_status }}</td>
          <td>{{ animal.birth_year }}</td>
          <td>{{ animal.en_id }}</td>
          <td>{{ animal.b_id }}</td>


    </tr>

  {% endfor %}
</table>


</body>
</html>