{% extends 'base.html' %}


{% block content %}
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
     <tr>
         {% for key in data[0].keys() %}
           <th scope="col">{{ key }}</th>
         {% endfor %}
     </tr>
   </thead>
  {% for animal in data %}
    <tr>
          <td>{{ animal.Animal_ID }}</td>
          <td>{{ animal.animal_name}}</td>
          <td>{{ animal.birth_year  }}</td>
         <td>{{ animal.a_status }}</td>
          <td>{{ animal.sp_name }}</td>
          <td>{{ animal.En_id }}</td>
          <td>{{ animal.b_id }}</td>


    </tr>

  {% endfor %}
</table>


{% endblock  %}